<!-- _includes/header.html -->
<header>
  <div class="brand">
    <img class="avatar" src="https://avatars.githubusercontent.com/u/000000?v=4" alt="Votre photo" />
    <div>
      <h1 class="title">{{ site.title }}</h1>
      <p class="subtitle">Ingénierie & Embarqué</p>
    </div>
  </div>
  <nav>
    <a href="{{ '/' | relative_url }}#projets">Projets</a>
    <a href="{{ '/' | relative_url }}#competences">Compétences</a>
    <a href="{{ '/' | relative_url }}#experience">Expérience</a>
    <a href="{{ '/' | relative_url }}#contact">Contact</a>
  </nav>
</header>

